{% extends "base.html" %}

{% set active_page = "banco" %}

{% block content %}
<section class="vh-100">
    <div class="container h-100">
        <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">Banco</p>
        <form action='/bancos/search' method="POST">
          <div class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight">
              <button type="button" id="printer" class="btn" style="color:#fff; background-color:#4F6D7A;">
                <i class="fa fa-print" aria-hidden="true"></i>
              </button>
            </div>
              <div class="p-2 bd-highlight">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Buscar Transacción" aria-label="Buscar" name="search_bancos" value="{{request.form.search_bancos}}">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1"><a data-toggle="collapse" href="#collapse1"> ⌄ </a></span>
                  </div>
                  <div class="input-group-append"> 
                    <button type="submit" id="search_bancos" name="action-type" value="search" class="btn" style="color:#fff; background-color:#4F6D7A";>
                      <i class="fas fa-search" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>   
              </div>
        </form>  
            <div class="col-4"><!--extra div--></div>

            <form action='/bancos/' method="POST">
              <div class="p-2 bd-highlight">
                <div class="input-group mb-2">
                  <input type="number" class="form-control" placeholder="Agregar Crédito" aria-label="agregar" name="agregar_credito" value="{{request.form.agregar_credito}}">
                  <div class="input-group-append">
                    <button type="button" class="btn" style="color:#fff; background-color:#4F6D7A;">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>

          </div>
          <div class="d-flex flex-row-reverse bd-highlight">
            <div id="collapse1" class="panel-collapse collapse">
              <div class="row">
                <div class="col">
                <input type="date" class="form-control" placeholder="Desde" name="Desde" id="Desde" 
                  value="{{request.form.Desde}}" aria-describedby="inputGroupPrepend2"/>
                </div>
                <div class="col">
                <input type="date" class="form-control" placeholder="Hasta" name="Hasta" id="Hasta" 
                  value="{{request.form.Hasta}}" aria-describedby="inputGroupPrepend2"/>
                </div>
              </div>
            </div>
          </div>
          
      </form>       
        <br/>
        <table class="table table-bordered table-light table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Fecha</th>
              <th scope="col">Hora</th>
              <th scope="col">Concepto</th>
              <th scope="col">Monto</th>
              <th scope="col">Revertir</th>
            </tr>
          </thead>
          <tbody>
            {% for u in bancos %}
            <tr>
              <th scope="row">{{u.id}}</th>
              <td>{{ u.fecha.strftime("%d/%m/%Y") }}</td>
              <td>{{ u.fecha.strftime("%H:%M:%S") }}</td>
              <td>{{ u.concepto }}</td>
              <td>{% if u.credito %}+{% endif%}
                  {% if not u.credito %}-{% endif%}
                  {{ u.monto }}
              </td>
              {% if u.agg_gerente %}
              <td class="print-backtrack" style="text-align: center">
                <button type="button" class="btn action" data-toggle="modal" data-target="#backtrack-modal-{{u.id}}">
                  <i class="fa fa-repeat" aria-hidden="true"></i>
                </button>
              </td>
              {% endif %}
            </tr>  

            <!-- Modal para revertir -->
            <div class="modal fade" id="backtrack-modal-{{u.id}}" tabindex="-1" role="dialog" aria-labelledby="backtrack-modal-Label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="backtrack-modal-Label-{{u.id}}">Revertir Crédito</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action='/bancos/{{ u.id }}/revertir' method="post">
                      ¿Está seguro de revertir el crédito?. Una vez reversado no se podrá recuperar.<br>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger">Revertir</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
            <tr>
              <th scope="row" colspan="11" style="text-align: right;">Saldo:</th>
              <td colspan="2">{{ saldo }}</td>
            </tr>
          </tbody>
        </table>
    </div>
</section>
{% endblock %}