{% extends "base.html" %}

{% set active_page = "compras" %}

{% block content %}
<!-- <div class="container h-100"> -->
  <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">{{ cosecha.descripcion }}: Datos de la Compra</p>

  <div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
      <button type="button" id="printer" class="btn" style="color:#fff; background-color:#4F6D7A;">
        <i class="fa fa-print" aria-hidden="true"></i>
      </button>
    </div>
      <!--Button Modal-->
      <div class="p-2 bd-highlight">
        <button type="button" class="btn" style="color:#fff; background-color:#4F6D7A;" data-toggle="modal" data-target="#exampleModalLong">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
      <div class="p-2 bd-highlight" style="display:flex; align-content: flex-end;">
        <form action='/cosecha/{{ cosecha.id }}/compras/search' method="post" class="form-inline" style="justify-content: flex-end">
          <input class="form-control mr-3 w-75" type="text" placeholder="Buscar" aria-label="Buscar" name="search_compra">
          <button type="submit" id="search_compra" name="action-type" value="search" class="btn" style="color:#fff; background-color:#4F6D7A;">
            <i class="fas fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>

  <br/>

  <!-- Agregar Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Nueva Compra</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <form action="" method="post" >
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputPassword4">Fecha</label>
                      <input type="date" readonly="readonly" class="form-control" id="datePicker" placeholder="Fecha" name="fecha" 
                                value="{{request.form.fecha}}" aria-describedby="inputGroupPrepend2" required/>
                    </div>

                   
                    <!-- DESDE AQUI -->
                    <div class="form-group col-md-4">
                    <label for="exampleDataList" class="form-label">Cédula</label>
                      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="V-XXXXXX">
                    <datalist id="datalistOptions">
                        <option selected disabled value>Cédula</option>  
                        {% for rec in recolectores %}
                          <option value="{{rec.ci}}">{{rec.nombre}}{{rec.apellido}}</option>
                        {% endfor %}
                    </datalist>
                  </div>

                    <div class="form-group col-md-4">
                      <label for="inputPassword4">Tipo de Recolector</label>
                      <select placeholder="Rol" name="rol" value="{{request.form.rol}}" id="form3Example1c" class="form-control" required>
                        <option selected disabled value>Tipo de Recolector</option>  
                        {% for tipo in tipo_prod %}
                          <option value="{{tipo.id}}">{{tipo.descripcion}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Clase de Cacao</label>
                      <select placeholder="Cacao" name="clase_cacao" value="{{request.form.clase_cacao}}" id="form3Example1c" class="form-control" required>
                        <option selected disabled value>Clase de Cacao</option>  
                        <option>Fermentado (F1)</option>
                        <option>Corriente (F2)</option>
                      </select>
                    </div>

                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Precio ($)</label>
                      <select placeholder="Precio" name="precio" value="{{request.form.precio}}" id="form3Example1c" class="form-control" required>
                        <option selected disabled value>Precio ($)</option>  
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Cantidad (Kg)</label>
                      <input type="number" min="0" step=any placeholder="Cantidad" name="cantidad" value="{{request.form.cantidad}}" id="form3Example1c" class="form-control" required>
                    </div>

                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Humedad (%)</label>
                      <input type="number" step=any placeholder="Humedad" name="humedad" value="{{request.form.humedad}}" id="form3Example1c" class="form-control" required>                      
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Merma (%)</label>
                      <select placeholder="Merma (%)" name="merma_porcentaje" value="{{request.form.merma_porcentaje}}" id="form3Example1c" class="form-control" required>
                        <option selected disabled value>Merma (%)</option>  
                        <option>1.0</option>
                        <option>2.0</option>
                        <option>3.0</option>
                        <option>4.0</option>
                        <option>5.0</option>
                      </select>
                    </div>

                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Merma (Kg)</label>
                      <input type="number" min="0" step=any placeholder="Merma (Kg)" name="merma_kg" value="{{request.form.merma_kg}}" id="form3Example1c" class="form-control" required>                      
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Cantidad Total (Kg)</label>
                      <input type="number" min="0" step=any placeholder="Cantidad Total" name="cantidad_total" value="{{request.form.cantidad_total}}" id="form3Example1c" class="form-control" required>
                    </div>

                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Monto ($)</label>
                      <input type="number" min="0" step=any placeholder="Monto ($)" name="monto" value="{{request.form.monto}}" id="form3Example1c" class="form-control" required>                      
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputState">Observaciones</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="observacion"></textarea>
                  </div>

                  <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary btn-lg">Limpiar</button>
                    <button type="submit" value="Register" class="btn btn-primary btn-lg">Aceptar</button>
                  </div> 
                </form>
              </div>                   
          </div>
      </div>
  </div>
  <br>
  <table class="table table-bordered table-light table-hover" id="tabla_cosechas">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cédula</th>
        <th scope="col">Cacao</th>
        <th scope="col">Precio <br> ($)</th>
        <th scope="col">Cantidad <br> (Kg)</th>
        <th scope="col">Humed. <br> (%)</th>
        <th scope="col">Merma <br> (%)</th>
        <th scope="col">Merma <br> (Kg)</th>
        <th scope="col">Cantidad <br> Total (Kg)</th>
        <th scope="col">Monto ($)</th>
        <th scope="col" class="print-delete" ></th>
      </tr>
    </thead>
    <tbody>
      {% set count = 1 %}
      {% for u in compras %}
      <tr>
        <th scope="row">{{ count }}</th>
        <td>{{u.fecha.date().strftime("%d/%m/%Y") }}</td>
        <td>{{u.recolectores.ci }}</td>
        <td>{{u.clase_cacao}}</td>
        <td>{{u.precio}}</td>
        <td>{{u.cantidad}}</td>
        <td>{{u.humedad}}</td>
        <td>{{u.merma_porcentaje}}</td>
        <td>{{u.merma_kg}}</td>
        <td>{{u.cantidad_total}}</td>
        <td>{{u.monto}}</td>

        <td class="print-delete" >
          <button type="button" class="btn action" data-toggle="modal" data-target="#edit-modal-{{u.id}}">
            <i class="fas fa-edit"></i>
          </button>
          <button type="button" class="btn action" data-toggle="modal" data-target="#delete-modal-{{u.id}}">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>

        {% set count = count + 1 %}
      </tr>

      <!-- Modal para Eliminar -->
      <div class="modal fade" id="delete-modal-{{u.id}}" tabindex="-1" role="dialog" aria-labelledby="delete-modal-Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="delete-modal-Label-{{u.id}}">Eliminar tipo de recolector</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action='/cosecha/{{ cosecha.id }}/compras/{{ u.id }}/delete' method="post">
                ¿Está seguro de eliminar la compra {{u.id}}? Una vez eliminado no se podrá recuperar.
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal para Editar -->
      <div class="modal fade" id="edit-modal-{{u.id}}" tabindex="-1" role="dialog" aria-labelledby="edit-modal-LongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="edit-modal-LongTitle-{{u.id}}">Modificar Compra</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <form action="/cosecha/{{ cosecha.id }}/compras/{{ u.id }}/update" method="post">
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputPassword4">Fecha</label>
                          <input disabled type="date" class="form-control" id="validationDefaultUsername" placeholder="Fecha" name="fecha" 
                                    value="{{u.fecha.date()}}" aria-describedby="inputGroupPrepend2" required/>
                        </div>
    
                        <div class="form-group col-md-4">
                          <label for="inputEmail4">Cédula</label>
                          <input disabled type="text" placeholder="V-27123456" pattern="(V|E)-[0-9]+" title="La cédula debe tener formato V-XXXXXX o E-XXXXXXX"
                                name="cedula" value="{{u.recolectores.ci }}" id="form3Example1c" class="form-control" required>
                        </div>
    
                        <div class="form-group col-md-4">
                          <label for="inputPassword4">Tipo de Recolector</label>
                          <select disabled placeholder="Rol" name="rol" value="{{u.rol}}" id="form3Example1c" class="form-control" required>
                            <option selected value="{{u.tipo_prod.id}}">{{u.tipo_prod.descripcion}}</option>  
                            {% for tipo in tipo_prod %}
                              {% if tipo.id != u.tipo_prod.id %}
                                <option value="{{tipo.id}}">{{tipo.descripcion}}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                        </div>
                      </div>
    
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Clase de Cacao</label>
                          <select placeholder="Cacao" name="clase_cacao" value="{{u.clase_cacao}}" id="form3Example1c" class="form-control" required>
                            <option selected value="{{u.clase_cacao}}">{{u.clase_cacao}}</option>  
                            <option>Fermentado (F1)</option>
                            <option>Corriente (F2)</option>
                          </select>
                        </div>
    
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Precio ($)</label>
                          <select placeholder="Precio" name="precio" value="{{u.precio}}" id="form3Example1c" class="form-control" required>
                            <option selected value="{{u.precio}}">{{u.precio}}</option>  
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
    
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Cantidad (Kg)</label>
                          <input type="number" min="0" step=any placeholder="Cantidad" name="cantidad" value="{{u.cantidad}}" id="form3Example1c" class="form-control" required>
                        </div>
    
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Humedad (%)</label>
                          <input type="number" min="0" step=any placeholder="Humedad" name="humedad" value="{{u.humedad}}" id="form3Example1c" class="form-control" required>                      
                        </div>
                      </div>
    
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Merma (%)</label>
                          <select placeholder="Merma (%)" name="merma_porcentaje" value="{{u.merma_porcentaje}}" id="form3Example1c" class="form-control" required>
                            <option selected value="{{u.merma_porcentaje}}">{{u.merma_porcentaje}}</option>  
                            <option>1.0</option>
                            <option>2.0</option>
                            <option>3.0</option>
                            <option>4.0</option>
                            <option>5.0</option>
                          </select>
                        </div>
    
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Merma (Kg)</label>
                          <input type="number" min="0" step=any placeholder="Merma (Kg)" name="merma_kg" value="{{u.merma_kg}}" id="form3Example1c" class="form-control" required>                      
                        </div>
                      </div>
    
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Cantidad Total (Kg)</label>
                          <input type="number" min="0" step=any placeholder="Cantidad Total" name="cantidad_total" value="{{u.cantidad_total}}" id="form3Example1c" class="form-control" required>
                        </div>
    
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Monto ($)</label>
                          <input type="number" min="0" step=any placeholder="Monto ($)" name="monto" value="{{u.monto}}" id="form3Example1c" class="form-control" required>                      
                        </div>
                      </div>
    
                      <div class="form-group">
                        <label for="inputState">Observaciones</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="observacion" value="{{u.observacion}}"></textarea>
                      </div>
    
                      <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary btn-lg">Limpiar</button>
                        <button type="submit" value="Register" class="btn btn-primary btn-lg">Aceptar</button>
                      </div> 
                    </form>
                  </div>                   
              </div>
          </div>
      </div>
      {% endfor %} 
    </tbody>
  </table>
  <script 
    type="text/javascript"
    src="{{ url_for('static', filename='js/print.js') }}"
  >
  </script>
<!-- </div> -->
{% endblock %}
{% block script %}
{% endblock %}