{% extends "base.html" %}

{% set active_page = "detalles_eventos" %}

{% block content %}
<section class="vh-100">
    <div class="container h-100">
        <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">Detalle del Evento numero {{e.id}}</p>
        <br/>
        <h4>El {{ e.usuario }} realizo el siguiente evento</h5>
        <br/>
        <table class="table table-bordered table-light table-hover">
          <thead>
            <tr>
              <th scope="col">ID del evento</th>
              <th scope="col">Evento</th>
              <th scope="col">Módulo</th>
              <th scope="col">Fecha</th>
              <th scope="col">Hora</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-secondary" >
              <th>{{e.id}}</th>
              <td>{{ e.evento }}</td>
              <td>{{ e.modulo }}</td>
              <td>{{ e.fecha.strftime("%d/%m/%Y") }}</td>
              <td>{{ e.fecha.strftime("%H:%M:%S") }}</td>
            </tr>
    
          </tbody>
        </table>
        <table class="table table-bordered table-light table-hover">
          <thead>
            <tr>
              {% for c in columns %}
              <th scope="col">{{ c }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% if update %}
            <tr>
              <th style="text-align: center;" colspan={{ columns|length }} >Antes</th>
            </tr>
            {% endif %}
            <tr class="table-secondary" >
              {% for d in descripcion[0] %}
              <th scope="row">{{ d }}</th>
              {% endfor %}
            </tr>
            {% if update %}
            <tr>
              <th style="text-align: center;" colspan={{ columns|length }} >Despues</th>
            </tr>
            <tr class="table-secondary" >
              {% for d in descripcion[1] %}
              <th scope="row">{{ d }}</th>
              {% endfor %}
            </tr>
            {% endif %}
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-12">
            <a href="/eventos" class="btn"; style="color:#fff; background-color:#4F6D7A;">Volver</a>
          </div>          
        </div>
        
    </div>
</section>
{% endblock %}