{% extends "base.html" %}

{% block navbar %}
<li class="nav-item active">
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('login')}}">Iniciar Sesión</a>
</li>
{% endblock %}

{% block content %}
<section class="vh-100">
    <div class="container h-100">
      
        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Bienvenido al <br> Sistema Automatizado de Apoyo a la
            Gestión de Recolección de Cosechas de Cacao </p>

    </div>
</section>
{% endblock %}