{% extends "base.html" %}

{% set active_page = "login" %}

{% block content %}
<section class="vh-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">Iniciar Sesión</p>
                <form class="mx-1 mx-md-4" action="" method="post">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user fa-lg me-3 fa-fw"></i></span>
                    <input type="text" placeholder="Usuario" name="nombre_usuario" value="{{request.form.nombre_usuario }}" id="form3Example1c" class="form-control" required/>
                  </div>         
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock fa-lg me-3 fa-fw"></i></span>
                    <input type="password" placeholder="Contraseña" name="password" value="{{request.form.password }}" id="form3Example4c" class="form-control" required/>
                  </div> 
                  <div style="text-align:center">
                      <a href="/login/update_password" style="text-decoration: underline">Cambiar Contraseña</a>
                  </div>
                  </br>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <div class="form-check d-flex mb-5">
                      <button type="reset" class="btn btn-secondary btn-lg">Limpiar</button>
                    </div>
                    <div class="form-check d-flex mb-5">
                      <button type="submit" value="Login" class="btn btn-primary btn-lg">Log-in</button>
                    </div>
                  </div>
                </form>
              </div>

              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}