{% extends "base.html" %}

{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="{{url_for('productor')}}">Datos del Productor</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="{{url_for('perfiles')}}">Perfiles de Usuarios<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url_for('tipo_productor')}}">Tipos de Productor</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url_for('eventos')}}">Logger de Eventos</a>
</li>
{% endblock %}

{% block sesion %}
<li class="nav-item">
  <a class="nav-link" href="{{url_for('logout')}}">Cerrar Sesión</a>
</li>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Perfiles de Usuarios</p>
        <div class="d-flex flex-row-reverse bd-highlight">
          <div class="p-2 bd-highlight">
            <form class="form-inline ">
              <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Buscar"
                aria-label="Search">
              <i class="fas fa-search" aria-hidden="true"></i>
            </form>
          </div>
        </div>
        <br/>
        <form class="form-inline" action="" method="post">
            <div class="d-flex flex-row align-items-center">

                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-at fa-lg"></i></span>
                    </div>
                    <input type="text" placeholder="Usuario" name="username" value="{{request.form.username }}" id="form3Example1c" class="form-control form-control-sm" required/>
                </div>

                <div class="col-auto">
                    <div class="input-group input-group-sm mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-lock fa-lg"></i></div>
                      </div>
                      <input type="password" placeholder="Contraseña" name="password" value="{{request.form.password}}" id="form3Example4c" class="form-control form-control-sm" required/>
                    </div>
                </div>

                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-user fa-lg"></i></span>
                    </div>
                    <input type="text" placeholder="Nombre" name="name" value="{{request.form.name}}" id="form3Example1c" class="form-control form-control-sm" required/>
                    <input type="text" placeholder="Apellido" name="surname" value="{{request.form.surname}}" id="form3Example1c" class="form-control form-control-sm" required />
                </div>

                <div class="col-auto">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01"><i class="fas fa-address-card fa-lg"></i></label>
                    </div>
                    <select placeholder="Rol" name="rol" value="{{request.form.rol}}" id="form3Example1c" class="form-control form-control-sm" required>
                        <option selected disabled value="">Rol</option>  
                        <option value="Administrador">Administrador</option>
                        <option value="Usuario">Usuario</option>
                    </select>
                </div>
              </div>
                    
                <div class="input-group input-group-sm mb-2">
                    <button type="submit" value="Login" class="btn btn-primary btn-sm">Registrar</button>
                </div>
                
            </div>
        </form>
        </br></br>
        
        <table class="table table-bordered table-light table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Usuario</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Rol</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for u in users %}
            <tr>
              <th scope="row">{{u.id}}</th>
              <td>{{u.username}}</td>
              <td>{{u.name}}</td>
              <td>{{u.surname}}</td>
              <td>{{u.rol}}</td>
              <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">
                  <a href=""> <i class="fas fa-edit"></i></a> 
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#editModal">
                  <a href=""> <i class="fas fa-trash-alt"></i></a>
                </button>
              </td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>        
    </div>
{% endblock %}