{% extends "base.html" %}

{% block navbar %}
<li class="nav-item active">
    <a class="nav-link" href="{{url_for('productor')}}">Datos del Productor<span class="sr-only">(current)</span></a>
</li>
{% if admin %}
<li class="nav-item">
    <a class="nav-link" href="{{url_for('perfiles')}}">Perfiles de Usuarios</a>
</li>
{% endif %}
<li class="nav-item">
  <a class="nav-link" href="{{url_for('tipo_productor')}}">Tipos de Productor</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('eventos')}}">Logger de Eventos</a>
</li>
{% endblock %}

{% block sesion %}
<li class="nav-item">
  <a class="nav-link" href="{{url_for('logout')}}">Cerrar Sesión</a>
</li>
{% endblock %}

{% block content %}
    <div class="container h-100">

        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Datos personales del Productor</p>
        <div class="d-flex flex-row-reverse bd-highlight">
            <!--Button Modal-->
            <div class="p-2 bd-highlight">
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalLong">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
            <div class="p-2 bd-highlight" style="display:flex; align-content: flex-end;">
              <form class="form-inline" style="justify-content: flex-end">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                  aria-label="Search">
                <i class="fas fa-search" aria-hidden="true"></i>
              </form>
            </div>
          </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Productor</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <form action="" method="post" >
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label for="inputEmail4">Cédula</label>
                            <input type="text" placeholder="Cédula" name="cedula" value="{{request.form.cedula}}" id="form3Example1c" class="form-control">
                          </div>
  
                          <div class="form-group col-md-4">
                            <label for="inputPassword4">Nombre</label>
                            <input type="text" placeholder="Nombre" name="name" value="{{request.form.name}}" id="form3Example1c" class="form-control" >
                          </div>
  
                          <div class="form-group col-md-4">
                            <label for="inputPassword4">Apellido</label>
                            <input type="text" placeholder="Apellido" name="surname" value="{{request.form.surname}}" id="form3Example1c" class="form-control">
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">Teléfono</label>
                            <input type="tel" placeholder="0212-1111111" name="telephone" value="{{request.form.telephone}}" id="form3Example1c" class="form-control">
                          </div>
  
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">Celular</label>
                            <input type="tel" placeholder="0412-1111111" name="phone" value="{{request.form.phone}}" id="form3Example1c" class="form-control" />
                          </div>
                        </div>
  
                        <div class="form-group">
                          <label for="inputAddress">Dirección</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"  name="direction1" value="{{request.form.direction1}}">
                        </div>
                        <div class="form-group">
                          <label for="inputAddress2">Dirección 2</label>
                          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"  name="direction2" value="{{request.form.direction2}}">
                        </div>

                        <div class="form-group">
                          <label for="inputState">Tipo de Productor</label>
                          <select placeholder="Rol" name="rol" value="{{request.form.rol}}" id="form3Example1c" class="form-control">
                            <option selected disabled value>Tipo-Productor</option>  
                            {% for tipo in tipos %}
                              <option value="{{tipo.id}}">{{tipo.description}}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="d-flex justify-content-center ">
                          <button type="reset" class="btn btn-secondary btn-lg">Limpiar</button>
                          <button type="submit" value="Register" class="btn btn-primary btn-lg">Aceptar</button>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                    </div>                    
                </div>
            </div>
        </div>
        <br>
        <table class="table table-bordered table-light table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">Cédula</th>
              <th scope="col">Apellido</th>
              <th scope="col">Nombre</th>
              <th scope="col">Teléfono Local</th>
              <th scope="col">Celular</th>
              <th scope="col">Tipo-Productor</th>
              <th scope="col">Dirección 1</th>
              <th scope="col">Dirección 2</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for u in productor %}
            <tr>
              <th scope="row">{{u.ci}}</th>
              <td>{{u.name}}</td>
              <td>{{u.surname}}</td>
              <td>{{u.telephone}}</td>
              <td>{{u.phone}}</td>
              <td>{{u.type_prod}}</td>
              <td>{{u.direction1}}</td>
              <td>{{u.direction2}}</td>
              <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#edit-modal-{{u.id}}">
                  <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal-{{u.id}}">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>


            <!-- Modal para Eliminar -->
            <div class="modal fade" id="delete-modal-{{u.id}}" tabindex="-1" role="dialog" aria-labelledby="delete-modal-Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="delete-modal-Label-{{u.id}}">Eliminar productor</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <form action='/delete_productor/{{ u.id }}' method="post">
                        ¿Está seguro de eliminar el productor '{{u.name}} {{u.surname}}'? Una vez eliminado no se podrá recuperar.
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                          <button type="submit" class="btn btn-danger">Eliminar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %} 
          </tbody>
        </table>
    </div>
{% endblock %}