{% extends "base.html" %}

{% block navbar %}
<li class="nav-item">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
        Iniciar Sesión
    </button>
</li>
{% endblock %}

{% block content %}
<!-- Button trigger modal -->
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Control de Acceso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="mx-1 mx-md-4" action="" method="post">
                <div class="modal-body">

                    <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <input type="text" placeholder="Usuario" name="username" value="{{request.form.username }}" id="form3Example1c" class="form-control" />
                    </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <input type="password" placeholder="Contraseña" name="password" value="{{request.form.password }}" id="form3Example4c" class="form-control" />
                    </div>
                    </div>

                    <div class="form-check d-flex mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                        Cambiar Contraseña</a>
                    </label>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary btn-lg">Limpiar</button>
                <button type="submit" value="Login" class="btn btn-primary btn-lg">Log-in</button>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

