{% extends "base.html" %}

{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="{{url_for('productor')}}">Datos del Productor</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="{{url_for('perfiles')}}">Perfiles de Usuarios<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url_for('tipo_productor')}}">Tipos de Productor</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url_for('eventos')}}">Logger de Eventos</a>
</li>
{% endblock %}

{% block sesion %}
<li class="nav-item">
  <a class="nav-link" href="{{url_for('logout')}}">Cerrar Sesión</a>
</li>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Perfiles de Usuarios</p>

        <div class="d-flex flex-row-reverse bd-highlight">
            <!--Button Modal-->
            <div class="p-2 bd-highlight">
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalLong">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
            <div class="p-2 bd-highlight" style="display:flex; align-content: flex-end;">
                <form action='/search_perfil' method="post" class="form-inline" style="justify-content: flex-end">
                  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Buscar" name="search_perfil">
                  <button type="submit" form="search_perfil" id="search_perfil" name="action-type" value="search" class="btn btn-primary">
                    <i class="fas fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </div>
            </div>
        </div>

        <br/>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Usuario</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <form action="" method="post">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-at fa-lg"></i></span>
                          </div>
                          <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Usuario" name="username" value="{{request.form.username }}" aria-describedby="inputGroupPrepend2" required>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-lock fa-lg"></i></span>
                          </div>
                          <input type="password" class="form-control" id="validationDefaultUsername" placeholder="Contraseña" name="password" value="{{request.form.password}}" aria-describedby="inputGroupPrepend2" required>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-user fa-lg"></i></span>
                          </div>
                          <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Nombre" name="name" value="{{request.form.name}}" aria-describedby="inputGroupPrepend2" required/>
                          <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Apellido" name="surname" value="{{request.form.surname}}" aria-describedby="inputGroupPrepend2" required />
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-address-card fa-lg"></i></span>
                          </div>
                          <select placeholder="Rol" name="rol" value="{{request.form.rol}}" id="form3Example1c" class="form-control" aria-describedby="inputGroupPrepend2" required>
                            <option selected disabled value="">Rol</option>  
                            <option value="Administrador">Administrador</option>
                            <option value="Analista de Ventas">Analista de Ventas</option>
                            <option value="Vendedor">Vendedor</option>
                        </select>
                        </div>
                      </div>  

                      <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary btn-lg">Limpiar</button>
                        <button type="submit" value="Register" class="btn btn-primary btn-lg">Aceptar</button>
                      </div>
                      
                    </form>
                  </div>                   
              </div>
          </div>
      </div>
        
        
        
        <table class="table table-bordered table-light table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Usuario</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Rol</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for u in users %}
            <tr>
              <th scope="row">{{u.id}}</th>
              <td>{{u.username}}</td>
              <td>{{u.name}}</td>
              <td>{{u.surname}}</td>
              <td>{{u.rol}}</td>
              <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#edit-modal-{{u.id}}">
                  <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal-{{u.id}}">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>

              <!-- Modal para Eliminar -->
              <div class="modal fade" id="delete-modal-{{u.id}}" tabindex="-1" role="dialog" aria-labelledby="delete-modal-Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="delete-modal-Label-{{u.id}}">Eliminar usuario</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

                      <form action='/deleteperfil/{{ u.id }}' method="post">
                        ¿Está seguro de eliminar el usuario '{{u.username}}'? Una vez eliminado no se podrá recuperar.
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                          <button type="submit" class="btn btn-danger">Eliminar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal para Editar -->
            <div class="modal fade" id="edit-modal-{{u.id}}" tabindex="-1" role="dialog" aria-labelledby="edit-modal-LongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="edit-modal-LongTitle-{{u.id}}">Modificar Usuario</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                        <form action="/updateperfil/{{ u.id }}" method="post">
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-at fa-lg"></i></span>
                              </div>
                              <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Usuario" name="username" value="{{u.username}}" aria-describedby="inputGroupPrepend2" required>
                            </div>
                          </div>
    
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-lock fa-lg"></i></span>
                              </div>
                              <input type="password" class="form-control" id="validationDefaultUsername" placeholder="Contraseña" name="password" value="{{u.password}}" aria-describedby="inputGroupPrepend2" required>
                            </div>
                          </div>
    
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-user fa-lg"></i></span>
                              </div>
                              <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Nombre" name="name" value="{{u.name}}" aria-describedby="inputGroupPrepend2" required/>
                              <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Apellido" name="surname" value="{{u.surname}}" aria-describedby="inputGroupPrepend2" required />
                            </div>
                          </div>
    
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-address-card fa-lg"></i></span>
                              </div>
                              <select placeholder="Rol" name="rol" value="{{request.form.rol}}" id="form3Example1c" class="form-control" aria-describedby="inputGroupPrepend2" required>
                                <option selected disabled value="">Rol</option>  
                                <option value="Administrador">Administrador</option>
                                <option value="Analista de Ventas">Analista de Ventas</option>
                                <option value="Vendedor">Vendedor</option>
                            </select>
                            </div>
                          </div>  
    
                          <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary btn-lg">Limpiar</button>
                            <button type="submit" value="Register" class="btn btn-primary btn-lg">Aceptar</button>
                          </div>
                          
                        </form>
                      </div>                  
                  </div>
              </div>
          </div>

            {% endfor %} 
          </tbody>
        </table>       
        
        


    </div>
{% endblock %}
{% block script %}


{% endblock %}