{% extends "base.html" %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{{url_for('productor')}}">Datos del Productor</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('perfiles')}}">Perfiles de Usuarios</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="{{url_for('tipo_productor')}}">Tipos de Productor<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('eventos')}}">Logger de Eventos</a>
</li>
{% endblock %}

{% block sesion %}
<li class="nav-item">
  <a class="nav-link" href="{{url_for('logout')}}">Cerrar Sesión</a>
</li>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Tipos de Productor</p>

        <div class="d-flex flex-row-reverse bd-highlight">
            <!--Button Modal-->
            <div class="p-2 bd-highlight">
              <button type="button" class="btn" style="color:#fff; background-color:#4F6D7A;" data-toggle="modal" data-target="#exampleModalLong">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
            <div class="p-2 bd-highlight" style="display:flex; align-content: flex-end;">
              <form action='/tipo_productor/search' method="post" class="form-inline" style="justify-content: flex-end">
                <input class="form-control mr-3 w-75" type="text" placeholder="Search" aria-label="Buscar" name="search_tipo_productor">
                <button type="submit" id="search_tipo_productor" name="action-type" value="search" class="btn" style="color:#fff; background-color:#4F6D7A;">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>

        <br/>

        <!-- Agregar Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Tipo de Productor</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="mx-1 mx-md-4" action="" method="post">
                        <div class="modal-body">
                            <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input type="text" placeholder="Descripción" name="description" value="{{request.form.description}}" id="form3Example1c" class="form-control" />
                            </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary btn-lg">Limpiar</button>
                            <button type="submit" value="Register" class="btn btn-primary btn-lg">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <table class="table table-bordered table-light table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Descripción</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for u in type_prod %}
            <tr>
              <th scope="row">{{u.id}}</th>
              <td>{{u.description}}</td>
              <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#edit-modal-{{u.id}}">
                  <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal-{{u.id}}">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>

            <!-- Modal para Eliminar -->
            <div class="modal fade" id="delete-modal-{{u.id}}" tabindex="-1" role="dialog" aria-labelledby="delete-modal-Label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-Label-{{u.id}}">Eliminar tipo de productor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <form action='/tipo_productor/delete/{{ u.id }}' method="post">
                      ¿Está seguro de eliminar el tipo de productor '{{u.description}}'? Una vez eliminado no se podrá recuperar.
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal para Editar -->
            <div class="modal fade" id="edit-modal-{{u.id}}" tabindex="-1" role="dialog" aria-labelledby="edit-modal-LongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="edit-modal-LongTitle-{{u.id}}">Modificar Tipo de Productor</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                          <form action="/tipo_productor/update/{{ u.id }}" method="post">
                            <div class="modal-body">
                              <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="text" placeholder="Descripción" name="description" value="{{u.description}}" id="form3Example1c" class="form-control" />
                                </div>
                              </div>
                            </div> 
      
                            <div class="modal-footer">
                              <button type="reset" class="btn btn-secondary btn-lg">Limpiar</button>
                              <button type="submit" value="Register" class="btn btn-primary btn-lg">Aceptar</button>
                            </div>
                          </form>
                        </div>                   
                    </div>
                </div>
            </div>
            {% endfor %} 
          </tbody>
        </table>
    </div>
{% endblock %}